header,
footer {
  background: var(--headerFooterColor);
  padding: 0.5rem 1.5rem 0.2rem;
  text-align: center;
}

header {
  /*  */
}

footer {
  background: var(--headerFooterColorDk);
  padding: 0.5rem 1.5rem 0.2rem;
  text-align: center;
}

.headWrap {
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  color: var(--colSecondary);
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}

footer h4 {
  color: var(--lime500);
  font-size: 1rem;
  margin: 0;
  text-align: left;
}
